*{
    box-sizing: border-box;
}
header{
    background-color: rgba(160,160,160, 0.5);
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
.ratatouille{
    border-radius: 40%;
    height: auto;
    width: 7%;
    margin-left: 45vw;
    padding-bottom: 20px;
    padding-top: 15px;
}
.nav{
    width: 100%;
    display: flex;
    background-color: rgba(160, 160, 160, 0.5);

}


.primerul{
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 50px;

}
a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.botondetalle{
    background-color: black;
    padding: 10px 20px;
    color: white;
    border-radius: 50px;
    margin-top: 20px;
}
.mensajemail{
    color: red;
}
.mensajecontra{
    color: red;
}
footer{
    background-color: rgba(160, 160, 160, 0.5);
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.formulariodiv{
    background-color:rgba(160, 160, 160, 0.5);
    width: 100%;
}
.containerrecetas{
    margin: 0 auto;
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.articulosprincipales{
    display: flex;
    justify-content: space-around;
    background-color: rgba(160,160,160, 0.5);
    margin-bottom: 50px;
    flex-wrap: wrap;
    
}
.tituloarticulos{
    text-align: center;
    margin-top: 50px;
}
.contenidorec{
    width: 20%;
    border: 2px solid black;
    margin: 20px;
    text-align: center;
}

.contenidorec img{
    width: 100%;
}
.botonlogin{
    text-decoration: none;
    color: black;
}
body{
    background-color: rgba(64,64,64, 0.5);
}
.tiposcomida{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.BotonComida{
    width: 15%;
    height: 100px;
    border: 2px solid black;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}
.formhome{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registerr{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 50px 0;

}
.formregistro{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    padding: 20px;

}
.botonfinalreg{
    justify-content: center;
    height: 25px;
    width: 30%;
}
.botonquetc{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.contraregistro{
    height: 25px;
}
.emailregistro{
    height: 25px;

}
.tituforr{
    display: flex;
    justify-content: center;
}
.formulario{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    padding: 20px;

}
.tiposcomida{
    border: 2px solid black;
    margin: 50px 0;
}
.divtitulotc{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.titulostc{
    display: flex;
    width: 100%;
    text-align: center;
}
